.form {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block-filter {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-search {
    margin-bottom: 20px;
    width: 100%;
}

.btn-search {
    margin-right: 20px;
}
